.navbar-container {
    margin: 0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 23px;
}

.nav-container {
    width: 100%;
    padding: 10px;
}

.navbar-nav {
    width: 50%;
    justify-content: space-between
}

.navbar-nav-admin {
    width: 80%;
}

.nav-container a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.nav-link, .nav-btn {
    padding: 10px !important;
}

.short-nav {
    width: 20%;
}

.dropdown-btn {
    background-color: transparent !important;
    border: 0;
    font-size: 20px;
    color: black;
}

.dropdown-btn::after{
    content: none;
}

.dropdown > *:hover, .dropdown > *:focus, .dropdown > * {
    color: black !important;
}

.dropdown-menu {
    background-color: #f8f9fa;
    border: 0;
    padding: 0;
    left: -300px !important;
    margin-top: 10px !important;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-menu > * {
    padding: 20px !important;
    font-size: 15px;
    display: inline-block;
    width: 350px;
    text-wrap: wrap;
    /* border: 1px solid #d4d4d4; */
}

.dropdown-menu > *:hover, .read {
    background-color: #b2b2b2;
}

.dropdown-item:first-child, .dropdown-item:first-child:hover {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.dropdown-item:last-child, .dropdown-item:last-child:hover {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}  

.dropdown-item {
    display: flex;
    justify-content: center;
    align-content: center;
    color: black !important;
    align-items: center;
    cursor: pointer;
}

.icon-container {
    width: fit-content;
    margin: 10px;
}

.no-notifications, .no-notifications:hover {
    background-color: #f8f9fa;
    color: black;
    font-weight: 500;
}