.overall-stats {
    display: flex;
    border: 3px solid black;
    border-radius: 25px;
    padding: 0;
}

.overall-stats > .container {
    border: 3px solid black;
}

.overall-stats {
    margin-top: 30px;
    box-shadow: 15px 15px 15px #a9a8a8;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: rgb(73, 120, 1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
    background-color: #f1c40f;
    border-right: 2..5px solid black !important;
}

.stats {
    display: flex;
    padding: 80px 10px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #dadada;
    border-left: 2.5px solid black !important;
    flex-direction: column;
}

.stat-heading {
    font-size: 25px;
    font-weight: 700;
}

.stat-value {
    font-size: 22px;
}

.stat {
    border-right: 2px solid black;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

.stat:last-child {
    border: 0px solid black;
}

.stats-timerange {
    margin: 30px 0;
    width: 20%;
    float: right;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -30px;
    margin-bottom: 20px;
}

.stats-heading {
    text-shadow: 3px 3px 3px #a9a8a8;
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    width: fit-content;
}

.stats-table {
    border-collapse: separate;
    border-spacing: 0px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 15px 15px 15px #a9a8a8;
}

.stats-table thead, .stats-table thead th, .stats-table thead tr {
    border: 0px solid black !important;
}

.table-container-heading {
    margin-top: 50px;
    margin-bottom: 50px;
}

.stats-table td{
    padding: 25px;
    border: 1px solid black;
}

.stats-table thead th {
    padding: 30px;
    /* border: 2px solid black !important; */
    background-color: #f1c40f;
}

.stats-table th:first-of-type {
    border-top-left-radius: 20px;
}

.stats-table th:last-of-type {
    border-top-right-radius: 20px;
    border-right: 3px solid black !important;
}

.stats-table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 20px;
}

.stats-table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 20px;
}

.stats-table tr:nth-child(even) td{
    background-color: #f1c40f;
}

.stats-table tr:nth-child(odd) td{
    background-color: #dadada;
}

.stats-table thead th {
    border: 3px solid black !important;
    border-right: 1.5px !important;
}

.top-heading {
    text-shadow: 3px 3px 3px #a9a8a8;
}

.stats-timerange > * {
    box-shadow: 3px 3px 3px #a9a8a8;
    border-radius: 5px;
    border: 1px solid black;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-bar-container > * {
    margin: 0 !important;
}

.reset-btn {
    padding: 20px;
    font-size: 20px;
}

.search-bar {
    padding: 20px;
    outline: 3px solid black !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}