.overall-stats {
    display: flex;
    border: 3px solid black;
    border-radius: 25px;
    padding: 0;
}

.overall-stats > .container {
    border: 3px solid black;
}

.overall-stats {
    margin-top: 30px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    color: rgb(73, 120, 1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
    background-color: #f1c40f;
    border-right: 2..5px solid black !important;
}

.stats {
    display: flex;
    padding: 80px 10px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #dadada;
    border-left: 2.5px solid black !important;
    flex-direction: column;
}

.stat-heading {
    font-size: 25px;
    font-weight: 700;
}

.stat-value {
    font-size: 22px;
}

.stat {
    border-right: 2px solid black;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

.stat:last-child {
    border: 0px solid black;
}

.stats-timerange {
    margin: 30px 0;
    width: 20%;
    float: right;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.heading {
    margin-top: -30px;
    margin-bottom: 20px;
}