.desc {
    color: #8f8d8d;
    font-size: 17px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 10px;
}

table {
    font-size: 15px;
}

tr.stock-low {
    border: 2px solid black;
}

tr.stock-low td {
    background-color: rgba(107, 1, 23, 0.6);
}

.barcode {
    margin-left: 20px;
}